<app-navbar></app-navbar>

<h1 class="mt-3 mb-3">{{titulo_products}}</h1>
<div class="container">
  <table class="table" *ngIf="products.length >=1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">No Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index;" >
        <th scope="row">{{product.id}}</th>
        <td>{{product.product_name}}</td>
        <td>{{product.categori}}</td>
        <td>{{product.price}}</td>
        <td>{{product.cantidad_stock}}</td>
        <td>
          <button class="btn btn-danger m-2" (click)="deleteProductById(product.id)">X</button>
          <a class="btn btn-warning" (click)="editProductById(1)" >Editar</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="products.length==0">
  <h1 class="text-5xl mt-4 ">No se encontro ningun producto en Base de datos</h1>
</div>

