<app-navbar></app-navbar>

<h1 class="container mt-4 mb-3 bg-dark text-primary rounded p-3">{{titulo_products}}</h1>
<div class="container">
  <table class="table" *ngIf="listProduct.length >=1">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">No Stock</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of listProduct; let i = index;" >
        <th scope="row">{{product.id}}</th>
        <td>{{product.product_name}}</td>
        <td>{{product.categori}}</td>
        <td>{{product.price}}</td>
        <td>{{product.cantidad_stock}}</td>
        <td>
          <button class="btn btn-danger m-2" (click)="deleteProductById(product.id)">X</button>
          <button class="btn btn-warning"
                  [routerLink]="['/add/product',product.id]"    routerLinkActive="router-link-active"
          >
            Editar
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>

<div class="container" *ngIf="listProduct.length==0">
  <h1 class="text-5xl mt-4 ">No se encontro ningun producto en Base de datos</h1>
</div>

